<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />

    <title>Hello, world!</title>
  </head>
  <body>


    <div class="navbar navbar-expand-sm">
      <a class="navbar-brand"><img src="images/amazon.png" /></a>
      <div class="navbar-nav mr-auto">
        <a class="nav-link" href="#">
          <div class="">
            <p>Hello</p>
            <span style="font-weight: bolder;">Select your address</span>
          </div>
        </a>

        <a class="nav-link nab" href="#">
            <div class="">
            <p>Hello</p>
            <span style="font-weight:bolder">Order and Track</span>
          </div>
        </a>

        <a class="nav-link nab" href="#">
            <div class="">
            <p>Return</p>
            <span style="font-weight:bolder">& Order</span>
          </div>
        </a>

        <a class="nav-link nab" href="#">
            <div class="">
                <p> </p>
            <span style="font-weight:bolder">Cart</span>
          </div>
        </a>

      </div>
    </div>


    <div class="below_nav">
        <a class="bnav-link" href="#"><i class="fas fa-bars"></i>  All</a>
        <a class="bnav-link" href="#">Fresh</a>
        <a class="bnav-link" href="#">Today's Deal</a>
        <a class="bnav-link" href="#">Customer Service</a>
        <a class="bnav-link" href="#">Amazon Pay</a>
        <a class="bnav-link" href="#">AmazonBasic</a>
        <a class="bnav-link" href="#">Home Improvement</a>
        <a class="bnav-link" href="#">Gift Card</a>
    </div>